<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width,
    initial-scale=1.0"
    />
    <title>Microblog</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <header class="navbar">
      <div class="navbar__brand">
        <img
          class="navbar__logo"
          src="/static/logo.svg"
          alt="The Microblog logo"
        />Microblog
      </div>
      <ul class="navbar__navigation">
        <li class="navbar__navigation-item">
          <a href="#" class="navbar__link">Nedávné</a>
        </li>
        <li class="navbar__navigation-item">
          <a href="#" class="navbar__link">Kalendář</a>
        </li>
      </ul>
    </header>
    <main class="main">
      <section>
        <h1>Vytvořit nový příspěvek</h1>
        <form class="form" method="POST">
          <p class="form__input">
            <label for="entry">Napiš:</label>
            <textarea
              name="content"
              id="entry"
              class="form__textarea"
            ></textarea>
            <button type="submit" class="form__submit">Vložit příspěvek</button>
          </p>
        </form>
      </section>
      <section>
        <h1>Nedávné příspěvky</h1>
        {% for entry in entries %}
        <article class="entry">
          <div>
            <h2 class="entry__title">{{entry[0] | truncate(30, true) }}</h2>
            <time class="entry__date" datetime="24-10-2019"
              >∎ {{ entry[1] }}</time
            >
          </div>
          <p class="entry__content">{{ entry[0] }}</p>
        </article>
        {% endfor %}
      </section>
    </main>
    <footer class="footer">
      <div class="footer__content">
        <section class="left">
          <a class="footer__item">Budoucnost</a>
          <a class="footer__item">Podívej se na mé další projekty</a>
        </section>
        <section class="right">
          <div class="footer__column">
            <a class="footer__item">Recent</a>
            <a class="footer__item">Calendar</a>
          </div>
          <div class="footer__column">
            <a class="footer__item">O mě</a>
            <a class="footer__item">Jak bylo vytvořeno</a>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>
